@model IEnumerable<Rajwinder_Shopping_Centre_MVC.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<!--this page is make for giving the information about order page-->

<h1>Index</h1>
<div class="cl">&nbsp;</div>
<a href="#">
    <img src="css/images/IMAGE 1.jpg" alt="" />
    <div class="cl">&nbsp;</div>
    </div>
    <P>
        Are you tired of driving to the mall and fighting the crowds just to get the things you want and need?
        Online shopping has become a massive industry, and is more secure than ever.
        You can find virtually any product online, as long as you know where to look.
        You can also find some of the best deals. See Step 1 below to learn how to find what you want and buy it with confidence and security.

    </P>

    <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Order Quantity
                </th>
                <th>
                    Order Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Signup)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order_Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Product_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Signup.Signup_Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
